{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-4">
        <div class="card p-4 shadow" style="background-color: #1f2a36; color: #ffffff; border-radius: 15px;">

            <h2 class="text-center mb-4">Crear cuenta</h2>

            {% if error %}
            <div class="alert alert-danger text-center">
                {{ error }}
            </div>
            {% endif %}

            <form action="/registrar" method="POST">

                <div class="mb-3">
                    <label class="form-label" style="color: #4da3ff;">Email</label>

                    <input type="email" name="usuario" class="form-control"
                            style="background-color: #2c3e50; color: white; border: none;" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" style="color: #4da3ff;">Contraseña</label>

                    <input type="password" name="password" class="form-control"
                            style="background-color: #2c3e50; color: white; border: none;"
                            minlength="8" maxlength="8" required>
                </div>

                <div class="row">
                    <label class="form-label" style="color: #4da3ff;">Fecha de nacimiento</label>
                    <div class="col-md-4 mb-2">
                        <select class="form-select" style="background-color: #2c3e50; color: white; border: none;" name="dia" required>
                            <option value="">Día</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <select class="form-select" style="background-color: #2c3e50; color: white; border: none;" name="mes" required>
                            <option value="">Mes</option>
                            <option>Ene</option>
                            <option>Feb</option>
                            <option>Mar</option>
                            <option>Abr</option>
                            <option>May</option>
                            <option>Jun</option>
                            <option>Jul</option>
                            <option>Ago</option>
                            <option>Sep</option>
                            <option>Oct</option>
                            <option>Nov</option>
                            <option>Dic</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <select class="form-select" style="background-color: #2c3e50; color: white; border: none;" name="anio" required>
                            <option value="">Año</option>
                            <option>2025</option>
                            <option>2024</option>
                            <option>2023</option>
                            <option>2022</option>
                            <option>2021</option>
                            <option>2020</option>
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                            <option>2008</option>
                            <option>2007</option>
                            <option>2006</option>
                            <option>2005</option>
                            <option>2004</option>
                            <option>2003</option>
                            <option>2002</option>
                            <option>2001</option>
                            <option>2000</option>
                            <option>1999</option>
                            <option>1998</option>
                            <option>1997</option>
                            <option>1996</option>
                            <option>1995</option>
                            <option>1994</option>
                            <option>1993</option>
                            <option>1992</option>
                            <option>1991</option>
                            <option>1990</option>
                            <option>1989</option>
                            <option>1988</option>
                            <option>1987</option>
                            <option>1986</option>
                            <option>1985</option>
                            <option>1984</option>
                            <option>1983</option>
                            <option>1982</option>
                            <option>1981</option>
                            <option>1980</option>
                            <option>1979</option>
                            <option>1978</option>
                            <option>1977</option>
                            <option>1976</option>
                            <option>1975</option>
                            <option>1974</option>
                            <option>1973</option>
                            <option>1972</option>
                            <option>1971</option>
                            <option>1970</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" style="color: #4da3ff;">Género</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="masculino" value="masculino">
                        <label class="form-check-label" for="masculino" style="color: #4da3ff;">
                            Masculino
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="femenino" value="femenino">
                        <label class="form-check-label" for="femenino" style="color: #4da3ff;">
                            Femenino
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="otro" value="otro">
                        <label class="form-check-label" for="otro" style="color: #4da3ff;">
                            Otro
                        </label>
                    </div>
                </div>

                <button class="btn btn-primary w-100 mb-3">Registrarse</button>

                <div class="text-center">
                    <a href="{{ url_for('login') }}" style="color: #4da3ff; font-size: 0.9rem; text-decoration: none;">
                        ¿Ya tienes cuenta? Inicia sesión
                    </a>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}